.page {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: var(--background);
  gap: 2rem;
  justify-content: center;
  padding: 40px;
}

.gameBoard {
  --cell-size: clamp(4rem, min(10vh, 10vw), 80px);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, var(--cell-size));
  grid-template-rows: repeat(6, var(--cell-size));
  justify-items: center;
}

.gameRow {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/6;
}

.letter {
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  border: 2px solid var(--border-dark);
  color: var(--foreground);
  font-size: clamp(2rem, 5%, 3rem);
  font-weight: bold;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.letter.correct {
  background-color: var(--color-correct);
}

.letter.incorrect {
  background-color: var(--color-wrong);
}

.letter.partial {
  background-color: var(--color-partial);
}

.wordInput {
  background-color: var(--background);
  border: 2px solid var(--border-dark);
  border-radius: 4px;
  color: var(--foreground);
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;

  &::selection {
    background: var(--border-dark);
  }
}

.newGame {
  background-color: var(--background);
  border: 2px solid var(--border-dark);
  border-radius: 4px;
  color: var(--foreground);
  font-size: 1rem;
  padding: 0.5rem 0.75rem;

  &:hover {
    background-color: var(--border-dark);
    transition: 0.25s;
  }
}
